<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Post</title>
</head>
<body>
    <form action="/newPost" method="POST">
        <div class="form-group"></div>
            <label for="postTile">Title</label>
            <input type="text" name="title" id="postTitle">
        </div>
        <div class="form-group">
            <label for="new-post">Create post</label>
            <textarea name="post" id="new-post" cols="30" rows="10" placeholder="Post something..."></textarea>
        </div>
        <button type="submit">Post</button>
    </form>
</body>
</html>